@font-face {
	src: url('/lifetracker/UI/Lato-Regular.ttf');
}

.root {
	-fx-font-family: "Lato";
}

#textInput {
	-fx-font-family: "Lato";
	-fx-prompt-text-fill: derive(-fx-control-inner-background,-30.0%);
}


#textAreaOutput {
	-fx-font-family: "Lato";
}

.table-column {
	-fx-alignment: CENTER;
}

#columnTaskName, #columnEventName {
	-fx-alignment: CENTER-LEFT;
}

.table-view .column-header {
	-fx-font-weight: bold;
	-fx-background-color: #4FC1E9;
}