@font-face {
	src: url('/lifetracker/UI/Lato-Regular.ttf');
}

.root {
	-fx-font-family: "Lato";
}

#textInput {
	-fx-prompt-text-fill: derive(-fx-control-inner-background,-30.0%);
}


#textAreaOutput {
	-fx-font-family: "Lato";
}

.table-column {
	-fx-alignment: CENTER;
}

#columnTaskName, #columnEventName {
	-fx-alignment: CENTER-LEFT;
}

.table-view .column-header .label {  
    -fx-font-size: 1.083333em;  
    -fx-font-weight: bold;      
    -fx-text-fill: white;  
    -fx-alignment: center-left;   
    -fx-padding: 5.0 5.0 5.0 5.0;  
    -fx-alignment: CENTER;
}  

.table-view .column-header {
	-fx-background-color: #4FC1E9;
	-fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-pref-height: 45.0px;
} 

.table-view .filler{  
    -fx-background-radius: 0.0 5.0 0.0 0.0;    
    -fx-background-color: #4FC1E9;      
    -fx-size: 45.0px;  
    -fx-min-height: 45.0px;      
}  

.table-view .placeholder{  
     -fx-background-color: white;      
}  

.table-view {
	-fx-background-color: transparent;
	-fx-border-color: black;
	-fx-border-width: 0.5px;
	-fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5; 
}

.table-view .column-header-background {  
    -fx-background-radius: 5.0 5.0 0.0 0.0;  
    -fx-background-color: #4FC1E9;  
} 

/* EACH ROW */
.table-row-cell {  
    -fx-background-color: transparent;     
    -fx-border-width: 0;     
    -fx-pref-height: 45.0px;  
    -fx-font-size: 14px; 
    -fx-background-radius: 5 5 5 5; 
    -fx-border-radius: 5 5 5 5;
}  

.table-row-cell .table-column{  
    -fx-border-width: 1px;          
}  
  
  
.table-row-cell:filled:even{  
    -fx-background-color: white;  
}  
  
  
.table-row-cell:filled:odd{  
    -fx-background-color: #F6F7F8;  
}  

.table-row-cell:filled:selected { 
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}

.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}
  

/* HIDE HORIZONTAL SCROLLBAR */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
/*
#columnTaskID, #columnEventID {
	-fx-border-radius: 10 0 0 0;
    -fx-background-radius: 10 0 0 0;
}

#columnTaskRecurring, #columnEventRecurring {
	-fx-border-radius: 0 10 0 0;
    -fx-background-radius: 0 10 0 0;
}*/