#textInput {
	-fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

#textAreaOutput *.text {
	-fx-text-alignment: center;
}

.table-column {
	-fx-alignment: CENTER;
}

#columnTaskName, #columnEventName {
	-fx-alignment: CENTER-LEFT;
}

.table-view .column-header {
	-fx-background-color: #4FC1E9;
}